<!-- begin hero -->
<section class="hero js-lazy" data-background-image="./img/hero/{{ hero.bg }}">
  <div class="container">
  {% if hero.breadcrumbs %}    
    {{ mixins.list(
      name = 'breadcrumbs',
      modifications = { wrap: '', list: 'hero__breadcrumbs', item: '', link: '' },
      list = hero.breadcrumbs.list
    ) }}        
  {% endif %}

  {% if hero.title %}
    <h1 class="hero__title title title--h2-sm">{{ hero.title | safe }}</h1>
  {% endif %}
  </div>
</section>
<!-- end hero -->
