<a href="#" class="img-link img-link--lg js-lazy" data-background-image="./img/8.jpg">
  <span class="img-link__content">
    <span class="img-link__content-left">
      <span class="img-link__text">
        Автоматичне відключення  
      секцій сівалок 
      та оприскувачів
      </span>

      <date class="img-link__date date">14 лютого, 2020</date>

      <span class="img-link__btn">
        {{ mixins.btn(
          title = 'Переглянути',
          mod = 'btn--arr btn--no-hover btn--white',
          isInline = true,
          href = false
        ) }}
      </span>
    </span>

    <i class="img-link__icon right-arr-circle"></i>
  </span>
</a>
