.card
  display: flex
  flex-direction: column
  text-align: center

  height: 100%

  border-radius: $radius
  border: 1px solid  $light
  overflow: hidden

  &__img
    text-align: center
    position: relative
    padding-top: 60%

    border-bottom: 1px solid $light
    img
      position: absolute
      top: 0
      left: 0

      width: 100%
      height: 100%

      object-fit: cover

  &__content
    display: flex
    flex-direction: column
    flex-grow: 1

    padding: rem(25) rem(15)

    +lg
      padding: rem(15)

  &__text-wrap
    flex-grow: 1

  &__index
    margin-bottom: rem(10)

  &__text
    margin-bottom: rem(15)

  &__price
    margin-bottom: rem(15)

.plan-card
  position: relative
  border-radius: $radius
  background-color: #fbfbfb

  margin-top: rem(135)

  padding: rem(255) rem(30) rem(30) rem(30)

  +xl
    padding: rem(255) rem(20) rem(20) rem(20)

  +lg
    padding: rem(255) rem(15) rem(15) rem(15)

  &__img
    display: block

    position: absolute
    z-index: 1


    top: rem(-130)
    left: 50%
    transform: translate(-50%, 0)
    // margin-bottom: rem(-130 + 15)

    margin-left: auto
    margin-right: auto

  &__title
    margin-bottom: rem(15)

  &__list
    .main-nav__link
      text-align: left

.plan-list
  &__item
    &:nth-child(2)
      .plan-card        
        +md
          padding-top: rem(275)
          margin-top: rem(165)
        &__img
          top: rem(-160)

