.feature
  display: flex
  align-items: center
  flex-direction: column

  text-align: center

  height: 100%

  padding: rem(60) rem(30) rem(45)

  border: 1px solid $light
  border-radius: $radius

  &__text
    flex-grow: 1

  &__icon
    font-size: rem(120)
    margin-bottom: rem(25)
