.section
  padding-top: vw(50)
  padding-bottom: vw(50)

  &__title
    margin-bottom: rem(30)

    &--mb-lg
      margin-bottom: rem(70)
      +lg
        margin-bottom: rem(50)
      +md
        margin-bottom: rem(30)

  &__btns
    display: flex
    justify-content: center

    margin-top: rem(30)

    +sm
      display: block
      text-align: center

    &--left
      justify-content: flex-start

  &__btn
    margin-left: rem(15) / 2
    margin-right: rem(15) / 2

    +sm
      margin-left: 0
      margin-right: 0
      &:first-child
        margin-bottom: rem(10)

  &__block
    margin-bottom: rem(30)

  &__pagination
    margin-top: rem(50)
    +lg
      margin-top: rem(30)

  &__filters
    margin-bottom: rem(25)

  &__aside-toggle
    margin-right: rem(15)
    flex-shrink: 0
    +mdmin
      display: none

  &__hr
    margin-top: rem(50)
    margin-bottom: rem(50)

  &__aside
    +md
      position: fixed
      z-index: 15
      top: $header-height-lg
      bottom: 0
      left: 0

      width: rem(300)
      overflow: auto
      transform: translate(-100%, 0)

      +ready
        +tr(transform .5s $easeOutQuad)

      &--open
        transform: translate(0, 0)
      

  &--bg
    +cover
    background-color: $light

.section-block
  &__title
    margin-bottom: rem(25)
    +md
      margin-bottom: rem(15)

  &__text
    margin-bottom: rem(15)

.section-img
  $this: &
  
  display: inline-block
  font-size: 0
  position: relative
  padding: 0  0 vw(40) vw(40)
  img
    position: relative
    z-index: 1

  +before
    position: absolute
    z-index: 1
    right: vw(20)
    top: vw(20)
    left: 0    
    bottom: 0

    background-color: $c-text

  &--wide
    +before
      right: percentage(750 / 1410)

    

.section-filters
  display: flex
  align-items: center

  +xs
    flex-wrap: wrap

  &__controls
    display: flex
    align-items: center
    margin-left: auto
    +xs
      margin-right: 0
      margin-top: rem(15)
      width: 100%
      justify-content: center


  &__control
    &:first-child
      margin-right: rem(10)

  &__select
    max-width: rem(500)
    +xs
      margin-left: auto
      