.s-about-info
  padding-top: vw(90)

  &__title
    margin-bottom: rem(50)
    +lg
      margin-bottom: rem(30)

  &__label
    text-transform: uppercase
    font-size: em(14)
    p
      max-width: rem(225)

  &__block
    margin-bottom: rem(50)
    +lg
      margin-bottom: rem(30)
    +md
      margin-bottom: 0

.s-bg-map
  background-position: 50% 0%
  &__title
    max-width: rem(500)
    +lg
      max-width: rem(450)
    +md
      max-width: rem(300)

.s-about-help
  &__content
    padding-top: vw(100)
    padding-bottom: vw(115)
    max-width: rem(570)

  &__text
    max-width: rem(390)

.s-gallery
  padding-top: vw(115)
  padding-bottom: vw(125)

.s-levels
  background-position: 50% 0%
  &__content
    padding-top: vw(150)
    padding-bottom: vw(150)
    max-width: percentage(900 / 1440)
    +xs
      max-width: none
      padding-top: rem(50)
      padding-bottom: rem(50)

.s-contacts
  margin-top: rem(-70)

  padding-top: rem(100)
  padding-bottom: vw(100)

  background-repeat: no-repeat
  background-size: contain
  background-position: 100% 0%

  +lg
    padding-top: rem(80)

  &__contacts
    max-width: rem(450)
    +sm
      margin-left: auto
      margin-right: auto

.s-form
  padding-top: vw(55)
  padding-bottom: vw(55)

  margin-top: vw(50)
  margin-bottom: vw(50)
  
  background-repeat: no-repeat
  background-position: 100% 50%
  background-size: percentage(1065 / 1920)

  +md
    background-size: calc(50% - #{rem(15)})

  +xs
    background-image: none !important

.s-full
  height: 100%
  padding-top: 7%
  padding-bottom: 7%

  display: flex
  flex-direction: column
  justify-content: center
  text-align: center

  +lg
    min-height: 50vh

  &--center
    align-items: center

.s-thanks,
.s-error
  @extend .section--bg

.s-error
  background-position: 40% 50%
  +xs
    background-position: 30% 50%
  // +xxs
  //   background-position: 0 50%
  &__inner
    max-width: rem(290)
