{%set
items = [
  {
    img: 'people.png',
    title: 'Агрономічний консалтинг',
    list: [
      { link: 'OneSoil (датчик вологості, температури) ', modItem: '' },
      { link: 'Агрохімічний аналіз ґрунту', modItem: '' },
      { link: 'Моніторинг БПЛА', modItem: '' },
      { link: 'Моніторинг ущільнення (TOPSOIL (датчик)) (FARM QA (авотоматичний твердомір)', modItem: '' },
      { link: 'АгроСкаутинг', modItem: '' },
      { link: 'Супутниковий моніторинг', modItem: '' },
      { link: 'Визначення бонітету ґрунтів', modItem: '' }
    ]
  },
  {
    img: 'phone.png',
    title: 'ГІС-супровід',
    list: [
      { link: 'Визначення бонітету ґрунтів', modItem: '' },
      { link: 'Електронні контури полів', modItem: '' },
      { link: 'Створення довідників полів', modItem: '' },
      { link: 'Розшифровка та аналіз фактичних даних з польових терміналів', modItem: '' },
      { link: 'Метеомоніторинг', modItem: '' },
      { link: 'Створення ліній навігації', modItem: '' },
      { link: 'Створення тематичних карт (картограм)', modItem: '' },
      { link: 'Програмне забезпечення для точного землеробства', modItem: '' },
      { link: 'Карти-завдання  VRA', modItem: '' },
      { link: 'Карти виконаних робіт', modItem: '' }
    ]
  },
  {
    img: 'traktory-s-4-h-osevym-6120r-john-deere.png',
    title: 'Технічний консалтинг',
    list: [
      { link: 'Датчики моніторингу глибини', modItem: '' },
      { link: 'Аудит техніки', modItem: '' },
      { link: 'Моніторинг якості виконання технологічних операцій FlyAgData', modItem: '' },
      { link: 'Автоматичне відключення секцій сівалок та оприскувачів', modItem: '' },
      { link: 'Модернізація оприскувачів', modItem: '' },
      { link: 'Модернізація сівалок', modItem: '' },
      { link: 'Модернізація тракторів під автоматичне ведення', modItem: '' },
      { link: 'Переобладнання техніки під ЖКУ', modItem: '' },
      { link: 'Датчики урожайності', modItem: '' },
      { link: 'R&D розробка та дослідження', modItem: '' },
      { link: 'Підсвічування штанги оприскувача', modItem: '' },
      { link: 'ISOBUS', modItem: '' },
      { link: 'Виробництво електроніки', modItem: '' }
    ]
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <h1 class="section__title section__title--mb-lg title title--h1">Точне землеробство</h1>

    <ul class="grid plan-list">
      {% for i in items %}
      <li class="plan-list__item col col--md-4">
        <div class="plan-card">
          <img
            class="plan-card__img js-lazy"
            src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
            alt=""
            data-src="./img/{{ i.img }}"
          />

          <h2 class="plan-card__title title title--h2">{{ i.title | safe }}</h2>

          {{ mixins.list(
            name = 'nav',
            hasWrap = true,
            nameAsClass = false,
            modifications = { wrap: 'main-nav plan-card__list', list: 'main-nav__list', item: 'main-nav__item', link: 'main-nav__link' },
            list = i.list
          ) }}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<!-- end section -->
