<!-- begin section -->
<section class="s-about-help section section--bg js-lazy" data-background-image="./img/304258-P7QM0C-973.jpg">
  <div class="container">
      <div class="section-block s-about-help__content">
        <h1 class="section-block__title title title--h1">Потрібна допомога?</h1>

        <p class="s-about-help__text section-block__text">Спеціалісти з компанії "ФРЕНДТ" завжди раді вашому повідомленню або дзвінку. Не зволікайте, та зв’яжіться 
        з нами найзручнішим для вас способом.
        </p>

        {{ mixins.btn(
          title = 'Зв’язатися з нами',
          mod = 'js-popup-open',
          href = false,
          attributes = { 'data-popup-target': 'consult' }
        ) }}
      </div>
  </div>
</section>
<!-- end section -->
