<!-- begin s-about-info -->
<section class="s-about-info">
  <div class="container">
    <h1 class="s-about-info__title title title--h1">Хто ми</h1>

    <div class="grid s-about-info__block"> 
      <div class="col col--md-5">
        <div class="s-about-info__label">
          <p>Офіційний представник
          шведської компанії Hexagon 
          в Україні</p>

          <div class="text-label">працюємо з 2013 року</div>
        </div>
      </div>

      <div class="col col--md-7">
        <div class="article article--short">
          <p>Ми - команда "Френдт",  експерти з точного землеробства.
            Завдяки любові до своєї справи та досить довгому шляху на ринку, 
          сьогодні ми сміливо можемо називати себе лідерами галузі. </p>
          <p>Адже, ми не просто продаємо обладнання, а й надаємо послуги 
            по впровадженню точного землеробства та забезпечуємо 
          сервісне обслуговування наших клієнтів. </p>

          <p>Більше 50-ти спеціалістів галузі щодня працюють над автоматизацією господарств  всієї країни. Наша найбільша нагорода - 
          сотні успішних кейсів, від малих господарств до агрохолдингів.</p>
        </div>
      </div>
    </div>    
  </div>

  <figure class="s-about-info__block about-block about-block--left">
      <figcaption class="about-block__caption">
        <div class="container">
          <div class="about-block__caption-inner">
            <h2 class="about-block__title title title--h2">Місія</h2>

            <div class="about-block__text article article--short">
              <p>Головна місія компанії «Френдт» — Аграрна цифрова революція в Україні. І ми робимо все можливе для того, щоб нові цифрові технології якомога швидше входили та закріплялися у нашому аграрному середовищі.</p>
            </div> 
          </div>
        </div>       
      </figcaption>

      <img
        class="about-block__img js-lazy"
        src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
        alt=""
        data-src="./img/photo_2020-03-31_10-14-36.jpg"
      />
    </figure>

    <figure class="s-about-info__block about-block about-block--right">
      <figcaption class="about-block__caption">
        <div class="container">
          <div class="about-block__caption-inner">
            <h2 class="about-block__title title title--h2">Цілі</h2>

            <div class="about-block__text article article--short">
              <ul>
                <li>підняти на належний рівень вітчизняну культуру с/г виробництва</li>
                <li>впровадження інноваційного підходу в агробізнесі</li>
                <li>діджиталізація фермерського господарства</li>
                <li>популяризація ведення сучасного землеробства серед молоді</li>
              </ul>
            </div>
          </div> 
        </div>    
      </figcaption>

      <img
        class="about-block__img js-lazy"
        src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
        alt=""
        data-src="./img/MG_8734.jpg"
      />
    </figure>
</section>
<!-- end s-about-info -->
