<!-- begin section -->
<section class="s-bg-map section section--bg js-lazy" data-background-image="./img/map.jpg"> 
  <div class="container">
    <div class="grid">
      <div class="col col--4">
        <h1 class="section__title title title--h1">Про <span class="fw--300">Hexagon Agriculture</span></h1>
      </div>
    </div>
    <article class="grid article article--short s-bg-map__article">
      <div class="col col--5">
        <p>Hexagon Agriculture – нове ім'я в точному землеробстві України.
        Все більше фермерів у всьому світі звертають увагу на технології точного землеробства. Вражаючі показники урожайності в самих, здавалося б, неблагополучних для рослинництва кліматичних зонах (Норвегія, Нова Зеландія і т.д.) доводять, що точне землеробство – єдиний вірний шлях сучасного фермера до економічного процвітання.</p>

        <p>12 років тому точним землеробством зацікавився транснаціональний холдинг вимірювальних технологій Hexagon, одним з провідних виробничих підрозділів якого являлась компанія Leica Geosystems, відома лінійкою агронавігаторів Leica Mojo.</p>
      </div>

      <div class="col col--7">
        <p>В 2015 році керівництво Hexagon вирішило виділити сільськогосподарський сегмент в окрему компанію - Hexagon Agriculture- і запустити нову лінійку приладів під загальним брендом Titanium. 
        </p>

        <p>На сьогоднішній день ми раді представити українському фермеру два повноцінних агронавігатора Titanium5 і Titanium7, здатних не тільки керувати технікою по полю з високою точністю, але й здійснювати всі види контролю: від диференційованого внесення добрив до урожайності.</p>
      </div>
    </article>
  </div>
</section>
<!-- end section -->
