<!-- begin section -->
<section class="section">
  <div class="container">
    <h1 class="section__title title title--h2">Карти врожайності</h1>

    <div class="grid section__block">
      {% for i in range(0, 3) %}
      <div class="col col--4">
        <div class="section-img">
          <img
            class="js-lazy"
            src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
            alt=""
            data-src="./img/6.jpg"
          />
        </div>
      </div>
      {% endfor %}
    </div>

    <article class="article">
      <h4 class="title title--h4">Опис:</h4>

      <p>Картографування урожаю — це процесс творення карт урожаю с/г культур. Першочергово такі карти використовувалися для аналізу двох змінних: урожайність культури та вмісту вологи. Метод картографування урожаю використовує комбінацію\nтехнологій GPS та сенсорних датчиків, які встановлено на комбайн. Для отриманняя кісних даних датчики повинні бути відкалібровані згідно рекомендацій виробника під кожну культуру. Під час робочого процесу на основі сигналів від всіх\nсенсорів створюється файл з фактичними даними. Згодом його можна конвертувати у текстовий формат або відобразити на карті за допомогою додаткових ГІС програм. </p>
    </article>

    {% include "partials/_section-btns.html" %}
  </div>
</section>
<!-- end section -->