{%set
items = [
  {
    img: 'people.png',
    title: 'Агрономічний 
консалтинг',
    list: [
      { item: '<span class="main-nav__link">OneSoil (датчик вологості, температури) </span>', modItem: '' },
      { item: '<span class="main-nav__link">Агрохімічний аналіз ґрунту</span>', modItem: '' },
      { item: '<span class="main-nav__link main-nav__link--active">Моніторинг БПЛА</span>', modItem: '' },
      { item: '<span class="main-nav__link">Моніторинг ущільнення (TOPSOIL (датчик))  
(FARM QA (авотоматичний твердомір)</span>', modItem: '' },
      { item: '<span class="main-nav__link">АгроСкаутинг</span>', modItem: '' },
      { item: '<span class="main-nav__link">Супутниковий моніторинг</span>', modItem: '' },
      { item: '<span class="main-nav__link">Визначення бонітету ґрунтів</span>', modItem: '' }
    ]
  },
  {
    img: 'phone.png',
    title: 'ГІС-супровід',
    list: [
      { item: '<span class="main-nav__link">Визначення бонітету ґрунтів</span>', modItem: '' },
      { item: '<span class="main-nav__link">Електронні контури полів</span>', modItem: '' },
      { item: '<span class="main-nav__link main-nav__link--active">Створення довідників полів</span>', modItem: '' },
      { item: '<span class="main-nav__link">Розшифровка та аналіз фактичних 
даних з польових терміналів</span>', modItem: '' },
      { item: '<span class="main-nav__link">Метеомоніторинг</span>', modItem: '' },
      { item: '<span class="main-nav__link">Створення ліній навігації</span>', modItem: '' },
      { item: '<span class="main-nav__link">Створення тематичних карт (картограм)</span>', modItem: '' },
      { item: '<span class="main-nav__link">Програмне забезпечення 
для точного землеробства</span>', modItem: '' },
      { item: '<span class="main-nav__link">Карти-завдання  VRA</span>', modItem: '' },
      { item: '<span class="main-nav__link">Карти виконаних робіт</span>', modItem: '' }
    ]
  },
  {
    img: 'traktory-s-4-h-osevym-6120r-john-deere.png',
    title: 'Технічний 
консалтинг',
    list: [
      { item: '<span class="main-nav__link">Датчики моніторингу глибини</span>', modItem: '' },
      { item: '<span class="main-nav__link main-nav__link--active">Аудит техніки</span>', modItem: '' },
      { item: '<span class="main-nav__link">Моніторинг якості виконання 
технологічних операцій FlyAgData</span>', modItem: '' },
      { item: '<span class="main-nav__link">Автоматичне відключення 
секцій сівалок та оприскувачів</span>', modItem: '' },
      { item: '<span class="main-nav__link">Модернізація оприскувачів</span>', modItem: '' },
      { item: '<span class="main-nav__link">Модернізація сівалок</span>', modItem: '' },
      { item: '<span class="main-nav__link">Модернізація тракторів 
під автоматичне ведення</span>', modItem: '' },
      { item: '<span class="main-nav__link">Переобладнання техніки під ЖКУ</span>', modItem: '' },
      { item: '<span class="main-nav__link">Датчики урожайності</span>', modItem: '' },
      { item: '<span class="main-nav__link">R&D розробка та дослідження</span>', modItem: '' },
      { item: '<span class="main-nav__link">Підсвічування штанги оприскувача</span>', modItem: '' },
      { item: '<span class="main-nav__link">ISOBUS</span>', modItem: '' },
      { item: '<span class="main-nav__link">Виробництво електроніки</span>', modItem: '' }
    ]
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <h1 class="section__title section__title--mb-lg title title--h1">Точне землеробство</h1>

    <ul class="grid">
      {% for i in items %}
      <li class="col col--4">
        <div class="plan-card">
          <img
            class="plan-card__img js-lazy"
            src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
            alt=""
            data-src="./img/{{ i.img }}"
          />

          <h2 class="plan-card__title title title--h2">{{ i.title | safe }}</h2>

          {{ mixins.list(
            name = 'main-nav',
            hasWrap = true,
            modifications = { wrap: 'plan-card__list', list: 'main-nav__list', item: 'main-nav__item', link: 'main-nav__link' },
            list = i.list
          ) }}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<!-- end section -->