<!-- begin section -->
<section class="section">
  <div class="container">
    <article class="article">
      <h1>Сучасні технології точного землеробства, які змінять світ у найближчому майбутньому</h1>


      <p>В процесі розмови з фермерами про навігацію, автопілоти, точність, посів, обприскування, супутникові сигнали, коррекцію ми зрозуміли що багато хто не розуміє що таке RTK-сигнали і часто плутають поняття. Ми вирішили розвіяти міфи. </p>

      <h2>Що таке RTK?</h2>

      <p>Супутникові технології дуже активно входять в повсякденну роботу фермерів. Де і як вони застосовуються вже знає кожен фермер - від систем контролю палива до систем до автопілотів, автоматичного обміру контурів полів та точного визначення погоди. В даній статті хотілося б розповісти про супутникові сигнали для систем паралельного водіння. В усіх інформаційних матеріал розповідається про типи, точності, порівняння, вартість супутникових сигналів, приймачів та ін. Але це складно для звичайних фермерів. Ми хочемо просто, на пальцях розповісти про ці всі технології з точки зору звичайного фермера. </p>

      <p>Так з чого ж почати? Звісно потрібно почати із підрахунку постійних витрат на обробітку грунту, розкиданні добрив, посіві та збирання урожаю. І знову питання, як це зробити? Рекомендуємо наступну методику. Візьміть цільове поле, на якому будете проводити підрахунок. Припустімо, що на інших полях цифри будуть плюс-мінус однакові, хоча це не так, але краще ніж нічого.</p>

      <figure class="section-img section-img--wide">
        <img
          class="js-lazy"
          src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
          alt=""
          data-src="./img/photo_2020-03-31_10-14-36.jpg"
        />
      </figure>

      <blockquote>

        Супутникові технології дуже активно входять в повсякденну роботу фермерів. Де і як вони застосовуються вже знає кожен фермер - 
        від систем контролю палива до систем до автопілотів, автоматичного обміру контурів полів та точного визначення погоди. В даній статті хотілося б розповісти про супутникові сигнали для систем паралельного водіння. В усіх інформаційних матеріал розповідається про типи, точності, порівняння, вартість супутникових сигналів, приймачів та ін.
      </blockquote>

      <h2>Що таке RTK?</h2>

      <p>Супутникові технології дуже активно входять в повсякденну роботу фермерів. Де і як вони застосовуються вже знає кожен фермер - від систем контролю палива до систем до автопілотів, автоматичного обміру контурів полів та точного визначення погоди. В даній статті хотілося б розповісти про супутникові сигнали для систем паралельного водіння. В усіх інформаційних матеріал розповідається про типи, точності, порівняння, вартість супутникових сигналів, приймачів та ін. Але це складно для звичайних фермерів. Ми хочемо просто, на пальцях розповісти про ці всі технології з точки зору звичайного фермера. </p>

      <p>Так з чого ж почати? Звісно потрібно почати із підрахунку постійних витрат на обробітку грунту, розкиданні добрив, посіві та збирання урожаю. І знову питання, як це зробити? Рекомендуємо наступну методику. Візьміть цільове поле, на якому будете проводити підрахунок. Припустімо, що на інших полях цифри будуть плюс-мінус однакові, хоча це не так, але краще ніж нічого.
      </p>

      <p>Беремо першу операцію - обробіток грунту. Нехай це дискова борона, або глибокорозпушувач. Нехай механізатор працює як звичайно. Візміть дуже довгу рулетку, та заміряйте ширину 10 проходів із кроком вздовж 20 метрів. Завжди довжина буде менше на 10-ти ширін агрегатів. Якщо кожен замір приблизно однокавий, це вже дуже добре, механізатор вже кращий за 90% механізаторів. Але ширина 10-ти проходів по факту буде менше ніж ширина агрегату помножена на 10. Якщо це 1%-2%, це супер - у вас механізатор входить в 1% найкращих механізоваторів в Україні. Якшо ні, то порахуйте перевтрати на паливі, часу та ГСМ. Це не складно. 
      </p>

      <p>Аналогічно тепер проведіть підрахунки по іншим операціям. Якщо ви все зробили вірно, то у вас має бути певна сума перевтрат. Наш досвід, це -18%-22%, або від 60$-80$ на гектарі. Тепер рахуємо втрати майбутнього урожаю за рахунок порушення технології і пропусків при грунтообробці, внесенні добрив та посіві. Це біля 12%-22%. Множимо на сереню врожайність, кількість гектарів та вартість зібраної культури. Є конкретна цифра втрат. Якщо це пшениця, то сума трат на кожні 1000 га від 72 000 грн і більше.
      </p>

      <p>Тепер, виходячи з цього ми розуміємо що критично придбати в даний момент, скільки можна направити на інвестиції в модернізацію обладнання та скільки приросту грошей це принесе.</p>

      <p>Тепер наближаємось до супутникових сигналів для виконання технологічних операцій по паралельним лініям. Різних підробок, та самоклепів не розглядаємо. Є світові виробники систем паралельного водіння, які є якісні, сертифіковані та дають гарнту точність та стабільність роботи, це: Hexagon, John Deere, Raven, Trimble. Інші бренди - це компанії, це тільки спроба зробити щось схоже але їм ще дуже далеко до якісних рішень. Тепер перейдомо до сигналів:</p>

      <p>Перший, найдешевий варіант - безкоштовний сигнал. Це варіант коли з грошима дуже туго і варіантів більше немає. Такий сигнал вимагає високої кваліфікації механізатор, яких менше 1% в Україні. Тому якщо у біля 100 га землі і не під овочі, цей варіант безальтернативний для вас.
        Платний супутниковий сигнал. Це додатковий супутниковий сигнал, якій покращує точність в залежності від вартості в декілька разів. Вартість таких сигналів від 300$ до 700$ в залежності від виробника та точності. Зазвичай такий сигнал дається помісячно та на рік. Такий варіант підійде якщо третій варіант не підходить. В інших варіантах варіанти відсутні.
      Найточніший сигнал RTK. </p>

      <p>Це сигнал який надходить через мобільний інтернет або по радіо каналу. Можливі 2 варіанти використання - або придбавши власну RTK-станцію, яка буде передавати цей сигнал, або використовуючи існуючі станції мережі Френдт RTK. В першому випадку потрібно буде виложити біля 10 000 EUR щоб покрити радіус 50 км. В другому платити абонплату декілька тисяч грн. кожен місяць. Додатково необхідно мати спеціальну GPS-антену та RTK-передавач щоб отримати точний RTK-сигнал. В яких випадках неможливо обійтись без RTK-сигналу: автоматичне відключення секцій сівалки, стрічкове внесення добрив, внесення добрив в рядки в які планується посів, нарізання гребенів, прополка, обприскування вздовж пропашних культур, використання електронних технологічних колій.</p>
    </article>
  </div>
</section>
<!-- end section -->
