<!-- begin s-levels -->
<section class="s-levels section--bg js-lazy" data-background-image="./img/bg-girl.jpg">
  <div class="container">
    <div class="s-levels__content section-block">
      <h2 class="section-block__title title title--h1"><span class="color--accent">7 рівнів</span> точного 
      землеробства</h2>

      <p class="section-block__text">Дізнайтесь, на якому рівні ваше господарство</p>

      {{ mixins.btn(
        title = 'Детальніше',
        mod = ''
      ) }}
    </div>
  </div>
</section>
<!-- end s-levels -->
