<!-- begin s-contacts -->
<section class="s-contacts js-lazy" data-background-image="./img/triangle.jpg">
  <div class="container">
    <div class="grid grid--align-items-center grid--justify-content-center">
      <div class="col col--6 text--center">
        <img
          class="js-lazy"
          src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
          alt=""
          data-src="./img/contacts.png"
        />
      </div>

      <div class="col col--sm-6">
        <div class="s-contacts__contacts contacts">
          <h2 class="contacts__title title title--h2-sm">Бажаєте отримати консультацію?</h2>

          <p class="contacts__text">У вас з’явилися питання щодо наших послуг або товарів? Наші менеджери з радістю допоможуть вам підібрати те, що вам потрібно. </p>

          <p>Звертайтеся до нас за телефонами: </p>

          <ul>
            <li><a href="tel:+380670102102">+38 (067) 010-21-02</a></li>
            <li><a href="tel:+380670102102">+38 (067) 010-21-02</a></li>
            <li><a href="tel:+380670102102">+38 (067) 010-21-02</a></li>
            <li><a href="tel:+380670102102">+38 (067) 010-21-02</a></li>
          </ul>

          <p>Або напишіть нам листа: <a href="mailto:info@frendt.com.ua">info@frendt.com.ua</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end s-contacts -->
