<!-- begin s-full -->
<section class="s-full s-error js-lazy" data-background-image="./img/noah-buscher-G0m9kKvkkB8-unsplash.jpg">
  <div class="container">
    <div class="s-full__inner s-error__inner section-block">
      <h1 class="section-block__title title title--h1">404!</h1>

      <p class="section-block__text">Нажаль такої строніки не існує</p>

      {{ mixins.btn(
        title = 'Повернутися на головну',
        mod = 'btn--lg',
        href = '/'
      ) }}
    </div>
  </div>
</section>
<!-- end s-full -->
