{%set
features = [
  {
    icon: 'car-parts',
    text: 'Власний сервісний центр з більше 50-ти різновидів послуг по агроелектроніці'
  },
  {
    icon: 'worker',
    text: 'Більше 7 років на аграрному ринку 
та лише ТОПові спеціалісти галузі 
в команді'
  },
  {
    icon: 'agriculture',
    text: 'Нашими послугами користуються 
ТОП-10 агрохолдингів України'
  },
  {
    icon: 'dashboard',
    text: 'Закриваємо практично всі ніші 
в Точному Землеробстві : від продажу 
обладнання до проведення навчання 
вашого персоналу'
  },
  {
    icon: 'support-1',
    text: 'Пропонуємо комплексне впровадження Точного Землеробства під ключ індивідуально під клієнта'
  },
  {
    icon: 'quadcopter',
    text: 'Мережа RTK з найбільшим 
покриттям забезпечує сигнал 
з похибкою в 2 см'
  },
  {
    icon: 'payment',
    text: 'Лояльна цінова політика, 
порівнюючи з конкурентами
в аграрній галузі'
  },
  {
    icon: 'help',
    text: 'Ввічливі спеціалісти у відділі
обслуговування клієнтів та
висококласний сервіс'
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <h2 class="section__title title title--h1">Наші переваги</h2>

    <ul class="grid">
      {% for i in features %}
      <li class="col col--md-3 col--6">
        <div class="feature">
          {# {{ mixins.icon(i.icon, 'feature__icon') }} #}
          <img
            class="feature__icon js-lazy"
            src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
            alt=""
            data-src="./img/{{ i.icon }}.svg"
          />

          <p class="feature__text">{{ i.text | safe }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<!-- end section -->