{%set
form = {
  title: 'Напишіть нам',
  subttl: '
    <p>Спеціалісти з "ФРЕНДТ" завжди раді вашому повідомленню.</p>
    <p>Не зволікайте, та зв’яжіться з нами за допомогою форми нижче!</p>
  ',
  fields: [
    {
      name: 'input',
      type: 'text',
      placeholder: 'Ім’я',
      label: { first: '' }
    },
    {
      name: 'input',
      type: 'tel',
      placeholder: '+38 ( _ _ _ ) _ _ _ - _ _ - _ _',
      label: { first: '' }
    },
    {
      name: 'input',
      type: 'email',
      placeholder: 'E-mail',
      label: { first: '' }
    },
    {
      name: 'textarea',
      type: '',
      placeholder: 'Коротко опишіть ваше питання та вкажіть назву компанії',
      label: { first: '<label class="input__label">Коментар</label>' }
    }
  ]
}
%}

<!-- begin section -->
<section class="s-form js-lazy" data-background-image="./img/8648.jpg">
  <div class="container">
    <div class="grid">
      <div class="col col--md-4 col--xs-6">
        {% include "partials/_form.html" %}
      </div>
    </div>
  </div>
</section>
<!-- end section -->
