{%set
products = [
  { mod: 'products__item--high', img: '3769.jpg', title: 'Відеоспостереження' },
  { mod: 'products__item--wide', img: 'dietmar-reichle-caiX9QloFc8-unsplash.jpg', title: 'Trade-in' },
  { mod: 'products__item--wide', img: '10648.jpg', title: 'FlyAgData' },
  { mod: '', img: '20.jpg', title: 'LED-освітлення' },
  { mod: '', img: '19.jpg', title: 'Amity' },
  { mod: '', img: '17.jpg', title: 'Reichhardt' },
  { mod: 'products__item--wide', img: '203960_01_CLAAS_RTK_FIELD_BASE_1.jpg', title: 'RTK-мережа' },
  { mod: 'products__item--high', img: '13.jpg', title: 'Farm QA' },
  { mod: 'products__item--wide', img: '22.jpg', title: 'hexagon' }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <h1 class="section__title section__title--mb-lg title title--h1">Продукти</h1>

    <!-- begin products -->
    <div class="products{% if i.mod %} {{ i.mod }}{% endif %}">
      {% for i in products %}
      <a
        href="#"
        class="products__item product-link{% if i.mod  %} {{ i.mod }}{% endif %} js-lazy"
        data-background-image="./img/products/{{ i.img }}"
      >
        <span class="product-link__title">{{ i.title | safe }}</span>

        <span class="product-link__btn">
          {{ mixins.btn(
            title = 'Переглянути',
            mod = 'btn--white btn--arr btn--no-hover',
            href = false,
            isInline = true
          ) }}
        </span>

        <i class="product-link__icon right-arr-circle"></i>
      </a>
      {% endfor %}
    </div>
    <!-- end products -->
  </div>
</section>
<!-- end section -->
