<!-- begin s-full -->
<section class="s-thanks s-full s-full--center color--white js-lazy" data-background-image="./img/andre-iv-1fmUWIxL-Zg-unsplash.jpg">
  <div class="container">
    <div class="s-full__inner section-block">
      <h1 class="section-block__title title title--h1">Дякуємо за заявку!</h1>

      <p class="section-block__text">Ми зв’яжемося з вами у найближчий час</p>

      {{ mixins.btn(
        title = 'Повернутися на головну',
        mod = 'btn--lg',
        href = '/'
      ) }}
    </div>
  </div>
</section>
<!-- end s-full -->
