{%set
categories = [
  {
    title: 'Hexagon',
    sublist: [
      { title: 'Курсовказівники' },
      { title: 'Системи автоматичного водіння' },
      { title: 'Gps-приймачі і антени' },
      { title: 'Управління висівом і внесенням  продуктів' },
      { title: 'Моніторинг урожайності. телематика' },
      { title: 'Коригувальні сигнали' },
      { title: 'Б/у системи' },
      { title: 'Аксесуари та коплектуючі' },
      { title: 'Електромагнітне обстеження полів і створення електронних карт неоднорідності' },
      { title: 'Rtk модеми, передавачі, ретранслятори, підсилювачі rtk (для передачі та маршрутизації rtk-сигналів)' }
    ]
  },
  {
    title: 'RTK-мережа',
    sublist: [
      { title: 'Курсовказівники' },
      { title: 'Системи автоматичного водіння' },
      { title: 'Gps-приймачі і антени' },
      { title: 'Управління висівом і внесенням  продуктів' },
      { title: 'Моніторинг урожайності. телематика' },
      { title: 'Коригувальні сигнали' },
      { title: 'Б/у системи' },
      { title: 'Аксесуари та коплектуючі' },
      { title: 'Електромагнітне обстеження полів і створення електронних карт неоднорідності' },
      { title: 'Rtk модеми, передавачі, ретранслятори, підсилювачі rtk (для передачі та маршрутизації rtk-сигналів)' }
    ]
  },
  {
    title: 'FlyAgData',
    sublist: [
      { title: 'Курсовказівники' },
      { title: 'Системи автоматичного водіння' },
      { title: 'Gps-приймачі і антени' },
      { title: 'Управління висівом і внесенням  продуктів' },
      { title: 'Моніторинг урожайності. телематика' },
      { title: 'Коригувальні сигнали' },
      { title: 'Б/у системи' },
      { title: 'Аксесуари та коплектуючі' },
      { title: 'Електромагнітне обстеження полів і створення електронних карт неоднорідності' },
      { title: 'Rtk модеми, передавачі, ретранслятори, підсилювачі rtk (для передачі та маршрутизації rtk-сигналів)' }
    ]
  },
  {
    title: 'Farm QA',
    sublist: [
      { title: 'Курсовказівники' },
      { title: 'Системи автоматичного водіння' },
      { title: 'Gps-приймачі і антени' },
      { title: 'Управління висівом і внесенням  продуктів' },
      { title: 'Моніторинг урожайності. телематика' },
      { title: 'Коригувальні сигнали' },
      { title: 'Б/у системи' },
      { title: 'Аксесуари та коплектуючі' },
      { title: 'Електромагнітне обстеження полів і створення електронних карт неоднорідності' },
      { title: 'Rtk модеми, передавачі, ретранслятори, підсилювачі rtk (для передачі та маршрутизації rtk-сигналів)' }
    ]
  },
  {
    title: 'Reichhardt',
    sublist: [
      { title: 'Курсовказівники' },
      { title: 'Системи автоматичного водіння' },
      { title: 'Gps-приймачі і антени' },
      { title: 'Управління висівом і внесенням  продуктів' },
      { title: 'Моніторинг урожайності. телематика' },
      { title: 'Коригувальні сигнали' },
      { title: 'Б/у системи' },
      { title: 'Аксесуари та коплектуючі' },
      { title: 'Електромагнітне обстеження полів і створення електронних карт неоднорідності' },
      { title: 'Rtk модеми, передавачі, ретранслятори, підсилювачі rtk (для передачі та маршрутизації rtk-сигналів)' }
    ]
  },
  {
    title: 'Amity',
    sublist: [
      { title: 'Курсовказівники' },
      { title: 'Системи автоматичного водіння' },
      { title: 'Gps-приймачі і антени' },
      { title: 'Управління висівом і внесенням  продуктів' },
      { title: 'Моніторинг урожайності. телематика' },
      { title: 'Коригувальні сигнали' },
      { title: 'Б/у системи' },
      { title: 'Аксесуари та коплектуючі' },
      { title: 'Електромагнітне обстеження полів і створення електронних карт неоднорідності' },
      { title: 'Rtk модеми, передавачі, ретранслятори, підсилювачі rtk (для передачі та маршрутизації rtk-сигналів)' }
    ]
  },
  {
    title: 'Відеоспостереження ',
    sublist: [
      { title: 'Курсовказівники' },
      { title: 'Системи автоматичного водіння' },
      { title: 'Gps-приймачі і антени' },
      { title: 'Управління висівом і внесенням  продуктів' },
      { title: 'Моніторинг урожайності. телематика' },
      { title: 'Коригувальні сигнали' },
      { title: 'Б/у системи' },
      { title: 'Аксесуари та коплектуючі' },
      { title: 'Електромагнітне обстеження полів і створення електронних карт неоднорідності' },
      { title: 'Rtk модеми, передавачі, ретранслятори, підсилювачі rtk (для передачі та маршрутизації rtk-сигналів)' }
    ]
  },
  {
    title: 'Trade-in',
    sublist: [
      { title: 'Курсовказівники' },
      { title: 'Системи автоматичного водіння' },
      { title: 'Gps-приймачі і антени' },
      { title: 'Управління висівом і внесенням  продуктів' },
      { title: 'Моніторинг урожайності. телематика' },
      { title: 'Коригувальні сигнали' },
      { title: 'Б/у системи' },
      { title: 'Аксесуари та коплектуючі' },
      { title: 'Електромагнітне обстеження полів і створення електронних карт неоднорідності' },
      { title: 'Rtk модеми, передавачі, ретранслятори, підсилювачі rtk (для передачі та маршрутизації rtk-сигналів)' }
    ]
  },
  {
    title: 'LED-освітлення',
    sublist: [
      { title: 'Курсовказівники' },
      { title: 'Системи автоматичного водіння' },
      { title: 'Gps-приймачі і антени' },
      { title: 'Управління висівом і внесенням  продуктів' },
      { title: 'Моніторинг урожайності. телематика' },
      { title: 'Коригувальні сигнали' },
      { title: 'Б/у системи' },
      { title: 'Аксесуари та коплектуючі' },
      { title: 'Електромагнітне обстеження полів і створення електронних карт неоднорідності' },
      { title: 'Rtk модеми, передавачі, ретранслятори, підсилювачі rtk (для передачі та маршрутизації rtk-сигналів)' }
    ]
  }
]
%}

{%set
contacts = [
  {
    icon: 'telephone',
    info: [
      { dt: 'Вінниця', dd: '<a href="tel:+380674355014">+380674355014</a>' }
    ]
  },
  {
    icon: 'telephone',
    info: [
      { dt: 'Київ', dd: '<a href="tel:+380670102102">+380670102102</a>' }
    ]
  },
  {
    icon: 'telephone',
    info: [
      { dt: 'Контактна особа', dd: 'Віталій Шуберанський' }
    ]
  },
  {
    icon: 'envelope',
    info: [
      { dt: 'E-mail', dd: '<a href="mailto:info@frendt.com.ua">info@frendt.com.ua</a>' }
    ]
  },
  {
    icon: 'technics',
    info: [
      { dt: 'Сервісний центр', dd: 'Вінницька обл., с.Писарівка' }
    ]
  },
  {
    icon: 'pin',
    info: [
      { dt: 'Головний офіс у Вінниці', dd: 'просп.Юності, 10А' }
    ]
  }
]
%}

<!-- begin aside -->
<aside class="aside">
  <div class="aside__block aside__block--no-border aside-block">
    <header class="aside-block__header">Категорії</header>

    <ul class="aside-block__body aside-categories js-accordion">
      {% for i in categories %}
      <li class="aside-categories__item">
        <button class="aside-categories__title js-accordion-btn">{{ i.title | safe }}</button>
        <ul class="aside-categories__sublist js-accordion-item">
          {% for j in i.sublist %}
          <li class="aside-categories__subitem">
            <a href="#" class="aside-categories__link">{{ j.title | safe }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="aside__block aside-block">
    <header class="aside-block__header">Контакти</header>

    <ul class="aside-block__body contacts-list">
      {% for i in contacts %}
      <li class="contacts-list__item">
        <div class="contacts-list__icon">{{ mixins.icon(i.icon) }}</div>

        {{ mixins.list(
            name = 'descr-list',
            descr = true,
            modifications = { dt: 'descr-list__title', dd: 'descr-list__text' },
            list = i.info
          ) }}
      </li>
      {% endfor %}      
    </ul>
  </div>

  <div class="aside__block aside-block">
    <header class="aside-block__header">мапа</header>

    <div class="aside-block__body aside-block__map map">
      <iframe
        class="js-lazy"
        src=""
        data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2605.4926350878673!2d28.410408615569022!3d49.22914847932553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472d5d5b07dc93e3%3A0xf23f321f23bcd59f!2z0L_RgNC-0YHQvy4g0K7QvdC-0YHRgtC4LCAxMCwg0JLQuNC90L3QuNGG0LAsINCS0LjQvdC90LjRhtC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMjEwMDA!5e0!3m2!1sru!2sua!4v1587882541055!5m2!1sru!2sua"
        frameborder="0"
        style="border:0;"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
  </div>
</aside>
<!-- end aside -->
